@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600,700,800');
@font-face {
  font-family: "FontAwesome";
  src: url(../fonts/FontAwesome.otf);
}
@font-face {
  font-family:"leguegothic" ;
  src: url(../fonts/leguegothic.otf);
}
@font-face {
  font-family:"Bringin";
  src: url(../fonts/Bringin.otf)
}
body {
  font-family: "Open Sans";
}
.flipped {
  transform: rotateY(180deg);
}
.btn {
  width: 253px;
  height: 60px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-color: #36aeea;
  border: none;
  border-radius: 3px;
  outline: none;
  box-sizing: border-box;
}
h2 {
  font-size: 20px;
  color: rgb(44, 46, 55);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .6px;
  padding-top: 35px;
}
.waves__item {
  width: 9px;
  height: 2px;
  background-color: #d7d7d7;
  transform: rotate(-45deg);
  display: inline-block;
  margin-right: -8px;
}
.waves__item:nth-child(2n) {
  transform: rotate(45deg);
}
.btn:hover {
  background-color: #329fd6;
}
#callus:hover {
  color: #329fd6;
  border-color: #329fd6;
}
a:hover,
a:focus {
  text-decoration: none;
  cursor: pointer;
}
.journal h2, .scheme h2, .travel-with-us h2, .gallery h2, .lastpage h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
header,
section,
footer {
  width: 1170px;
  margin: 0 auto;
}
/*-------------HEADER-------------*/
.head {
  background-image: url(../images/bg.jpg);
  background-size: cover;
}
.header-background {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.2);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.bluelogo {
  font-size: 29px;
  color: #36aeea;
  font-family: "Bringin", sans-serif;
  margin-right: 60px;
}
.greylogo {
  color: #95a5ad;
}
.header__left-content {
  display: flex;
  align-items: center;
}
.linknav li {
  display: inline-block;
  list-style-type: none;
  margin-left: 21px;
}
.linknav li:first-child {
  margin-left: 0;
}
header a {
  text-decoration: none;
  color: #9daeb6;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 12px;
}
header a:hover {
  border-bottom: 3px solid #36aeea;
  padding-bottom: 10px;
}
.mobile-button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  display: none;
  z-index: 11;
}
.mobile-button__item {
  background-color: #36aeea;
  display: block;
  width: 100%;
  height: 2px;
  margin-bottom: 5px;
  transition: 0.2s ease all;
}
.mobile-button__item:last-child {
  margin-bottom: 0;
}
.mobile-button.active .mobile-button__item:first-child {
  transform: rotate(45deg);
}
.mobile-button.active .mobile-button__item:nth-child(2) {
  display: none;
}
.mobile-button.active .mobile-button__item:last-child {
  transform: rotate(-45deg);
  margin-top: -7px;
}
.mobile-button:hover .mobile-button__item {
  background-color: #9daeb6;
}
#callus {
  width: 153px;
  height: 46px;
  background-color: rgba(255,255,255,0);
  border: 3px solid #36aeea;
  color: #36aeea;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
}
h1 {
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 4px;
}
.headmain {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
}
.headmain h2 {
  color: #56c7ff;
  font-family: "Bringin", sans-serif;
  font-size: 66px;
  font-weight: 500;
  line-height: 0.4;
  margin-bottom: 30px;
  padding-top: 0;
  text-transform: none;
  letter-spacing: initial;
}
.headmain h2:before {
  display: none;
}
.headmain p {
  color: #c7cccf;
  font-size: 18px;
  max-width: 440px;
  font-weight: 300;
  margin-top: -10px;
}
.headmain button {
  margin-top: 20px;
}
.man {
  width: 40%;
  position: absolute;
  right: 5%;
  bottom: 0;
  z-index: 2;
  vertical-align: bottom;
}
.texthead {
  padding: 50px 40px;
  border-left: 2px solid white;
  border-right: 2px solid white;
  position: relative;
}
.texthead:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  z-index: 1;
}
.texthead:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  z-index: 3;
}
.hidemenu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  top: -110vh;
}
.hidemenu ul {
  list-style: none;
  padding: 0;
}
.hidemenu ul li {
  margin-bottom: 15px;
  text-align: center;
}
.hidemenu ul li a {
  text-decoration: none;
  color: rgb(148, 148, 148);
}
/*----- blog ------*/
.blog-bg {
  background-color: #f6f4f4;
}
.blog {
  background-image: url(../images/world-map.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#blog-gallery {
  margin-top: 35px;
  position: relative;
  z-index: 3;
  width: calc(100% - 450px);
}
#blog-gallery img {
  width: 100%;
}
.blog h2 {
  margin-bottom: 20px;
}
.blog p {
  font-size: 14px;
  font-weight: 300;
  color: rgb(148, 148, 148);
  letter-spacing: .2px;
}
.blog button {
  width: 130px;
  height: 40px;
  font-size: 12px;
  margin-top: 31px;
}
.blogtext {
  max-width: 355px;
}
#blogg {
  margin-top: -40px;
  margin-left: 95px;
}
.travelphototwo {
  background-image: url(../images/camp.jpg);
  background-size: cover;
  background-position: right bottom;
  width: 350px;
  height: 350px;
  margin-top: -250px;
  margin-left: -50px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: transform 1.3s;
  -o-transition: transform 1.3s;
  transition: transform 1.3s;
  -webkit-box-shadow: 10px 12px 16px rgba(0, 0, 0, 0.15);
  box-shadow: 10px 12px 16px rgba(0, 0, 0, 0.15);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.backphoto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/camp.jpg);
  background-size: cover;
  background-position: right bottom;
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-box-shadow: 10px 12px 16px rgba(0, 0, 0, 0.15);
  box-shadow: 10px 12px 16px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
.backphoto:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}
.backphoto p {
  font-size: 14px;
  position: relative;
  z-index: 3;
  margin-bottom: 15px;
  margin-left: 27px;
  margin-right: 20px;
  width: calc(100% - 40px);
}
.backphoto p:last-child {
  margin-bottom: 0;
}
/* --- journal ----*/
.journal .waves {
  text-align: center;
  margin-top: 50px;
}
.journal h2 {
  margin-bottom: 60px;
}
.headtable {
  color: #33bef1;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
}
.journal h3 {
  font-weight: bold;
  font-size: 16px;
  padding: 25px 22px 0 22px;
  letter-spacing: 3px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}
.journal p {
  font-size: 14px;
  color: rgb(119, 119, 119);
  padding: 20px 30px 0px 30px;
  text-align: center;
  text-transform: none;
}
.journal em {
  color: black;
  font-size: 14px;
}
.journal-main {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin-bottom: 80px;
}
.journal-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 67%;
}
.journal-content__item {
  display: flex;
}
.square {
  width: 50%;
  height: 380px;
}
.square.img-square {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../images/rock.jpg');
  background-size: cover;
  position: relative;
}
.square.img-square:before {
  content: '';
  position: absolute;
  right: 0;
  top: 50px;
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; 
  border-right: 15px solid white; 
}
.square.img-square.waterfall {
  background-image: url('../images/water.jpg');
  background-position: center;
}
.square.img-square.forest {
  background-image: url('../images/forst.jpg');
  background-position: top center;
}
.square.img-square.forest:before {
  left: 0;
  right: auto;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid white;
  border-right: none;
}
.square.img-square.waterfall:before {
  left: 50px;
  top: auto;
  bottom: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
  border-top: none;
}
.square.text-square {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.square.img-square img {
  width: 30%;
}
.journal-content__item.vertical {
  flex-direction: column;
}
.journal-content__item.vertical {
  width: 33%;
}
.journal-content__item.vertical .square {
  width: 100%;
}
/* ---- contact us -----*/
.contact-bg {
  background-color: #f6f4f4;
  background-image: url('../images/tree-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
.contact {
  padding: 150px 0 220px 0;
}
.contact h2 {
  font-weight: bold;
  margin-bottom: 30px;
}
.offer p {
  font-family: "Open Sans";
  font-size: 16px;
  color: rgb(148, 148, 148);
}
.data p {
  font-size: 14px;
  font-family: "Open Sans";
  color: rgb(54, 174, 234);
  margin-top: 20px;
}
.data i {
  padding-right: 5px;
  font-size: 16px;
}
.offer input {
  outline: none;
}
.contact button {
  width: 225px;
  height: 56px;
  margin-right: 2px;
  vertical-align: middle;
}
.ordernow {
  background-color: white;
  border-radius: 4px;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ordernow input,
.ordernow button {
  width: 37.5%;
  box-sizing: border-box;
  outline: none;
}
.ordernow button {
  width: 25%;
}
.name {
  height: 60px;
  border: none;
  padding-left: 20px;
  margin-right: -2px;
  border-radius: 4px;
}
.phone {
  border: none;
  border-left: 1px solid #ebebeb;
  height: 60px;
  padding-left: 20px;
  position: relative;
}
/*-------------------SCHEME----------------*/
.scheme {
  padding: 100px 0;
  counter-reset: step;
}
.scheme .waves {
  text-align: center;
}
.scheme h2 {
  margin-bottom: 75px;
}
.scheme ul {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}
.scheme ul:before {
  content: '';
  width: 75%;
  position: absolute;
  border-top: 2px dashed #DDD;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;
}
.scheme ul li {
  text-align: center;
  width: 25%;
  list-style-type: none;
  position: relative;
  padding-top: 130px;
}
.scheme ul li:before {
  content: counter(step);
  counter-increment: step;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 2px solid #36aeea;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 100%;
  background-color: white;
  color: #36aeea;
  z-index: 2;
}
.canvas {
  position: relative;
}
.canvas canvas {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
}
.canvas:hover canvas {
  transform: rotate(90deg);
}
.canvas svg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  z-index: 3;
}
.canvas.canvas-rest svg {
  width: 50px;
  height: 50px;
}
.scheme ul li:after {
  content: '';
  border-right: 2px dashed #DDD;
  height: 130px;
  width: 1px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  z-index: 1;
}
.scheme h3 {
  font-size: 16px;
  color: black;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}
.scheme p {
  font-size: 14px;
  color: #b4b4b4;
}
/*.scheme {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  
}
.scheme h2 {
  margin-top: 100px;
  margin-bottom: 75px;
}
.scheme ul {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.scheme li {
  display: inline-block;
  position: relative;
  text-align: center;
}
.scheme li:before {
  content: counter(step);
  counter-increment: step;
  width: 40px;
  height: 40px;
  line-height: 35px;
  border: 2px solid #36aeea;
  display: block;
  text-align: center;
  margin-left: 42%;
  margin-bottom: 100px;
  border-radius: 50%;
  background-color: white;
  color: #36aeea;
}
.scheme li:after {
  content: "";
  position: absolute;
  width: 103%;
  height: 140px;
  background-color: white;
  top: 18px;
  left: -51%;
  z-index: -1;
  border-style: dashed;
  border-color: #DDD;
  border-width: 2px;
  border-bottom: none;
}
.scheme li:first-child:after {
  content: none;
}
.scheme li, .scheme h3 {
  font-family: "Roboto";
  font-size: 16px;
  color: black;
  font-weight: bold;
}
.scheme li, .scheme p {
  font-family: "Roboto";
  font-size: 14px;
  color: #b4b4b4;
  padding-left: 33px;
  padding-right: 33px;
  margin-bottom: 120px;
}
.scheme canvas:active{ 
  animation: sc .2s linear 1;  
}
@keyframes sc {
  from {transform: scale(1, 1);}
  to {transform: scale(1.05, 1.05);}
}
/*--------------TRAVEL WITH US--------------*/
.travel-with-us {
  background-image: url(../images/travelmain.png);
  background-size: cover;
  padding-bottom: 200px;
}
.travel-with-us .waves {
  text-align: center;
}
.travel-with-us h2 {
  margin-bottom: 60px;
}
.travel-with-us h3 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 10px;
}
.travel-with-us p {
  font-size: 14px;
  line-height: 1.4;
}
.backgroundsection {
  background-image: url(../images/world-map-blue.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.travelpick {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  cursor: pointer;
}
.travelimage {
  width: 18%;
  height: 382px;
  margin-bottom: 50px;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
}
.travelll {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: transform 1.3s;
  -o-transition: transform 1.3s;
  transition: transform 1.3s;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
  -webkit-box-shadow: 10px 12px 16px rgba(0, 0, 0, 0.15);
  box-shadow: 10px 12px 16px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.travelfont{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../images/carpathian.jpg);
  background-size: cover;
  border-radius: 10px;
}
/*.travelfont:before,
.travelback:before {
  content: '';
  width: 100%;
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}
.travelfont > div {
  position: relative;
  z-index: 2;
}
.travelback > div {
  position: relative;
  z-index: 3;
}*/
.travelback {
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  background-image: url(../images/carpathian.jpg);
  background-size: cover;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.travelback button {
  position: absolute;
  bottom: 15px;
  margin-bottom: 0 !important;
  outline: none !important;
  cursor: pointer;
  background-color: #36aeea;
  color: white;
  border-radius: 3px;
  border: 1px solid #36aeea;
}
.travelback p {
  font-size: 12px;
  padding: 0 4px;
}
.travelback button {
  margin-bottom: 15px;
  width: 100px;
  height: 30px;
  font-size: 10px;
}
.stars {
  color: white;
  float: left;
  padding: 10px;
}
.traveltext {
  color: white;
  text-align: left;
  font-family: "Open Sans";
  padding: 0 10px;
  box-sizing: border-box;
}
.traveltext a {
  color: white;
}
.traveltext a:hover {
  text-decoration: none;
}
.price {
  color: white;
  padding: 17px 0;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  vertical-align: bottom;
}
.price .oldprice {
  float: left;
  text-decoration: line-through;
  margin-left: 12px;
}
.price .newprice {
  float: right;
  font-size: 26px;
  font-weight: bold;
  margin-top: -5px;
  margin-right: 12px;
}
.alps {
  background-image: url(../images/alps.jpg);
}
.pyrenees {
 background-image: url(../images/piranes.jpg);
}
.rocky {
  background-image: url(../images/rocky.jpg);
}
.kavkaz {
  background-image: url(../images/caucas.jpg);
}
.hide-there {
  display: none;
}
.hide-there button {
  margin-top: 30px;
  padding: 10px 15px;
  outline: none !important;
  cursor: pointer;
  background-color: #36aeea;
  color: white;
  border-radius: 3px;
  border: 1px solid #36aeea;
}
}
/*--------------GALLERY------------*/
.gallery {
  margin: auto;
}
.gallery .waves {
  margin-top: 80px;
  text-align: center;
}
.gallery h2 {
  margin-bottom: 65px;
}
.gallerypick {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 70px;
}
.gallery-1 {
  width: 25%;
}
.gallery-2 {
  width: 30%;
}
.gallery-3 {
  width: 40%;
}
.gallery-1 img:first-child,
.gallery-2 img:first-child,
.gallery-3 img:first-child {
  margin-bottom: 25px;
}
.gallery-1,
.gallery-2,
.gallery-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gallery img {
  vertical-align: top;
  width: 100%;
  transition: 0.3s ease all;
}
.gallery img:hover {
  transform: scale(1.1);
}
.columntwo {
  margin-bottom: 70px;
}
#picfive {
  margin-top: -100px;
}
/*------------------LOGOS---------------*/
.logos {
  background-color: rgb(248, 249, 250);
}
.logo-content {
  padding: 75px 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo-content a {
  width: 11%;
}
.logo-content a.adobe {
  width: 5%;
}
.logo-content a img {
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  height: 56px;
  vertical-align: middle;
  transition: 0.2s ease all;
}
.logo-content a:hover img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
/*---------------LASTPAGE-----------------*/
.lastpage {
 background-image: url(../images/foot.jpg);
 background-size: cover;
 background-position: center bottom;
 padding-bottom: 120px;
}
.lastpage .waves {
  text-align: center;
  margin-top: 40px;
}
.ourclients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.lastpage h2 {
  margin-bottom: 80px;
}
.lastpagetext {
  font-size: 18px;
  font-family: "Open Sans";
  color: rgb(173, 173, 173);
  width: 40%;
}
.lastpagetext:hover .under-content .avatar {
  border-color: rgb(54, 174, 234);
}
.under-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}
.avatar {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid transparent;
  transition: 0.2s ease all;
}
.avatar img {
  width: 100%;
}
.avatext {
  margin-left: 20px;
  font-family: "Open Sans";
  font-size: 16px;
  color: rgb(54, 174, 234);
}
.datatwo  {
  text-align: center;
  padding-bottom: 30px;
  max-width: 514px;
  width: 100%;
  background: rgba(255,255,255, .6);
  background: linear-gradient(to top, #38707d, #bac0c9);
  border-radius: 10px; 
  margin: 0 auto;
}
.datatwo p {
  margin: 0;
  padding: 0;
}
.datatwo ul {
  margin-top: 35px;
  padding-left: 0;
}
.datatwo li {
  list-style-type: none;
}
.datatwo input {
  width: 90%;
  box-sizing: border-box;
  height: 62px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  padding-left: 20px;
  outline: none;
}
.datatwo h3 {
  font-size: 36px;
  font-family: "Open Sans";
  color: rgb(54, 174, 234);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 30px;
}
.datatwo p {
  color: #383e4a;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: lighter;
}
.datatwo button {
  padding: 24px 0;
  width: 90%;
  box-sizing: border-box;
  border-radius:  5px;
  border: 1px solid #36aeea;
  color: white;
  background: linear-gradient(to top, lightgreen, #36aeea);
  background-repeat: no-repeat;
  background-size: 1000% 1000%;
  transition: 0.3s ease all;
  cursor: pointer;
  text-transform: uppercase;
  outline: none !important;
}
.datatwo button:hover {
  opacity: 0.9;
}
.datatwo button .seconddone {
  display: none;
}
@keyframes buttonclick {
  0% { background-position: top}
  100% { background-position: bottom }
}
.datatwo button p {
  color: white;
}
/*-------------FOOTER----------*/
.footer-bg {
  background-color: #3e5f6a;
  font-size: 16px;
  font-family: "Open Sans";
  color: rgba(255, 255, 255, .7);
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}
.numberr {
  font-family: "Roboto";
  text-align: right;
}
footer ul {
  margin-left: -70px;
}
footer li {
  display: inline-block;
  list-style-type: none;
}
.twitter {
  background-image: url(../images/spritesfooter.png);
  width: 39px;
  height: 39px;
  background-position: -8px -8px;
}
/*.facebook {
  background-image: url(../images/spritesfooter.png);
  width: 39px;
  height: 39px;
  background-position: -52px -8px;
}*/
.vk {
  background-image: url(../images/spritesfooter.png);
  width: 39px;
  height: 39px;
  background-position: -97px -8px;
}
/* ---- media ----*/
@media (max-width: 1200px) {
  header,
  section,
  footer {
    width: 90%;
  }
}
@media (max-width: 991px) {
  .contact-bg {
    background-size: contain;
  }
  .lastpage  {
    padding-bottom: 60px;
  }
  .lastpage h2 {
    margin-bottom: 40px;
  }
  .lastpagetext {
    width: 47%;
  }
  .travel-with-us p {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  }
  .hide-there {
    display: block;
  }
  .gallery-1 img:first-child,
  .gallery-2 img:first-child,
  .gallery-3 img:first-child {
    margin-bottom: 15px;
  }
  .travelimage {
    width: 47%;
  }
  .travel-with-us {
    padding-bottom: 0;
  }
  .scheme ul li {
    width: 50%;
    padding: 0 30px;
    box-sizing: border-box;
    margin-bottom: 30px;
  }
  .scheme ul li:before {
    display: none;
  }
  .scheme ul li:after {
    display: none;
  }
  .scheme ul:before {
    display: none;
  }
  .journal-content {
    width: 100%;
  }
  .journal-content__item.vertical {
    flex-direction: row;
    width: 100%;
  }
  .square.img-square.waterfall:before {
    right: 0;
    top: 50px;
    left: auto;
    bottom: auto;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right: 15px solid white; 
    border-left: none;
  }
  .blog {
    padding: 40px 0;
  }
  .blogtext {
    margin-right: 40px;
  }
  #blog-gallery {
    margin-top: 0;
    width: 100%;
  }
  #blog-gallery img {
    display: none;
  }
  .travelphototwo {
    margin-left: 0;
    margin-top: 0;
    width: 100%;
  }
  .linknav,
  #callus {
    display: none;
  }
  .mobile-button {
    display: block;
  }
}
@media (max-width: 767px) {
  .lastpage {
    padding-bottom: 50px;
  }
  .lastpagetext {
    width: 100%;
    margin-bottom: 30px;
  }
  .man {
    display: none;
  }
  h1 {
    font-size: 35px;
  }
  .headmain h2 {
    font-size: 53px;
  }
  .ordernow button {
    width: 100%;
    margin-right: 0;
    max-width: initial;
  }
  .phone {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .name {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .contact {
    padding: 100px 0 140px 0;
  }
  .ordernow {
		background-color: transparent;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
  }
  .ordernow input {
    width: 100% !important;
    margin-bottom: 20px;
  }
}
@media (max-width: 580px) {
  .logo-content {
    padding: 30px 0;
  }
  .scheme ul li {
    width: 100%;
  }
  .blog {
    flex-wrap: wrap;
  }
  .blogtext {
    margin-right: 0;
    max-width: initial;
    width: 100%;
    margin-bottom: 40px;
  }
}
@media (max-width: 480px) {
  .numberr,
  footer {
    font-size: 12px;
  }
  .avatext {
    margin-left: 10px;
    font-size: 14px;
}
  .gallery .gallery-3 img:last-child {
    display: none;
  }
  .logo-content a {
    width: 20%;
    margin-right: 15%;
  }
  .logo-content a.adobe {
    width: 7%;
  }
  .logo-content a:nth-child(3n) {
    margin-right: 0;
  }
  .logo-content a:nth-child(1),
  .logo-content a:nth-child(2),
  .logo-content a:nth-child(3) {
    margin-bottom: 20px;
  }
  .gallery-3 {
    width: 100%;
    margin-top: 20px;
  }
  .gallery-1 {
    width: 43%;
  }
  .gallery-2 {
    width: 52%;
  }
  .contact {
    padding: 50px 0 100px 0;
  }
  .ordernow input {
    width: 100%;
    border-radius: 4px !important;
  }
  .journal-content__item {
    flex-wrap: wrap;
  }
  .journal-content__item.mobile-reverse {
    flex-direction: column-reverse;
  }
  .square {
    height: 300px;
    width: 100%;
  }
  .square.img-square:before,
  .square.img-square.waterfall:before,
  .square.img-square.forest:before {
    left: 50px;
    top: auto;
    bottom: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    border-top: none;
  }
  .texthead {
    padding: 0;
    border: none;
  }
  .texthead:before,
  .texthead:after {
    display: none;
  }
}
@media (max-width: 400px) {
  .travelimage:last-child .flipped {
    transform: rotateY(180deg);
  }
  .hide-there {
    display: none;
  }
  .travelimage {
    width: 100%;
  }
  h1 {
    font-size: 28px;
  }
  .headmain h2 {
    font-size: 42px;
  }
}